
{% extends 'base_code/base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock title %}

{% block content %}


<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li class='active'>Wishlist</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="my-wishlist-page">
			<div class="row">
				<div class="col-md-12 my-wishlist">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th colspan="4" class="heading-title">My Wishlist</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="col-md-2"><img src="/media/{{ wishlist_data.product_1_image }}" alt="imga"></td>
									<td class="col-md-7">
										<div class="product-name"><a href="#">{{wishlist_data.title}}</a></div>
										<div class="rating">
											<i class="fa fa-star rate"></i>
											<i class="fa fa-star rate"></i>
											<i class="fa fa-star rate"></i>
											<i class="fa fa-star rate"></i>
											<i class="fa fa-star non-rate"></i>
											<span class="review">( 06 Reviews )</span>
										</div>
										<div class="price">
											{{salleing_price}}
											<span>{{wishlist_data.discount_price}}%</span>
										</div>
									</td>
									<td class="col-md-2">
										<a href="#" class="btn-upper btn btn-primary">Add to cart</a>
									</td>
									<td class="col-md-1 close-btn">
										<a href="#" class=""><i class="fa fa-times"></i></a>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>			
			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
	<!-- ============================================== BRANDS CAROUSEL ============================================== -->
	<div class="logo-slider-inner">	
		<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
			<div class="item m-t-15">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand1.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item m-t-10">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand2.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand3.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand4.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand5.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand6.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand2.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand4.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand1.png"  %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->

			<div class="item">
				<a href="#" class="image">
					<img data-echo= {% static "assets/images/brands/brand5.png" %} src= {% static "assets/images/blank.gif" %} alt="">
				</a>	
			</div><!--/.item-->
		</div><!-- /.owl-carousel #logo-slider -->
	</div><!-- /.logo-slider-inner -->
	<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	
	</div><!-- /.container -->
</div><!-- /.body-content -->

{% endblock content %}