{% extends 'base_code/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}


<!-- =============================owl-wrapper-outer================= Body : START ============================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
<div class="container">
<div class="row">
	<!-- ============================================== SIDEBAR ============================================== -->	
	<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
		<!-- ================================== TOP NAVIGATION ================================== -->
		<div class="side-menu animate-dropdown outer-bottom-xs">
			<div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>        
			<nav class="yamm megamenu-horizontal">
				<ul class="nav">
				{% for d in all_cat %}
				  <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>{{d.name}}</a>
					<ul class="dropdown-menu mega-menu">
					  <li class="yamm-content">
						<div class="row">
						  <div class="col-sm-12 col-md-3">
							<ul class="links list-unstyled">
							  	{% for d1 in sub_cat %}
								  {% if d1.cat_id == d.id %}
								  <li><a href="{% url 'product_list' d1.id %}">{{d1.name}}</a></li>
								  {% endif %}
								{% endfor %}
							</ul>
						  </div>
						  <!-- /.col -->
	
						  <!-- /.col --> 
						</div>
						<!-- /.row --> 
					  </li>
					  
					  <!-- /.yamm-content -->
					</ul>
					</li>
					{% endfor %}
				  <!-- /.menu-item -->
				  <!-- /.menu-item -->
				  
				</ul>
				<!-- /.nav --> 
			</nav>
		</div><!-- /.side-menu -->
		<!-- ================================== TOP NAVIGATION : END ================================== -->

		<div class="home-banner outer-bottom-xs">
			<img style="width: 262px; height: 260px;" src=  {% static "assets/images/banners/LHS-banner1.jpg" %} alt="Image">
		</div>

		{% comment %} {% for banenr in images_data %}
		<div class="home-banner outer-bottom-xs">
			<img style="width: 100px; height: 100px;" src= "media/{{ banenr.product_1_image }}" alt="">
		</div>
		{% endfor %} {% endcomment %}
		<!-- ============================================== HOT DEALS ============================================== -->
		<div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
			<h3 class="section-title">hot deals</h3>
			<div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
				{% for hot_deal in product_hot_deals %}
				<div class="item">
				<div class="products">
					<div class="hot-deal-wrapper">
						<div class="image">
							<a href="{% url 'product_detail' hot_deal.id %}">
								<img style="width: 280px; height: 250px;" src= "media/{{ hot_deal.product_1_image }}" alt="">
							</a>
						</div>
						<div class="sale-offer-tag"><span>{{ hot_deal.discount_price }}%<br>off</span></div>
						<div class="timing-wrapper">
							<div class="box-wrapper">
								<div class="date box">
									<span class="key">120</span>
									<span class="value">DAYS</span>
								</div>
							</div>
							
							<div class="box-wrapper">
								<div class="hour box">
									<span class="key">20</span>
									<span class="value">HRS</span>
								</div>
							</div>

							<div class="box-wrapper">
								<div class="minutes box">
									<span class="key">36</span>
									<span class="value">MINS</span>
								</div>
							</div>

							<div class="box-wrapper hidden-md">
								<div class="seconds box">
									<span class="key">60</span>
									<span class="value">SEC</span>
								</div>
							</div>
						</div>
					</div><!-- /.hot-deal-wrapper -->

					<div class="product-info text-left m-t-20">
						<h3 class="name"><a href="{% url 'product_detail' hot_deal.id %}">{{ hot_deal.title }}</a></h3>
						<div class="rating rateit-small"></div>

						<div class="product-price">	
							<span class="price">
								{{ hot_deal.selling_price }}
							</span>
								
							<span class="price-before-discount">{{ hot_deal.discount_price }}</span>					
						
						</div><!-- /.product-price -->
						
					</div><!-- /.product-info -->

					<div class="cart clearfix animate-effect">
						<div class="action">
							
							<div class="add-cart-button btn-group">
								<button class="btn btn-primary icon" data-toggle="dropdown" type="button">
									<i class="fa fa-shopping-cart"></i>													
								</button>
								<button class="btn btn-primary cart-btn" type="button">Add to cart</button>
														
							</div>
							
						</div><!-- /.action -->
					</div><!-- /.cart -->
				</div>	
				</div>
				
				{% endfor %}
				
				
		</div><!-- /.sidebar-widget -->
	</div>
	<!-- ============================================== HOT DEALS: END ============================================== -->


	<!-- ============================================== SPECIAL OFFER ============================================== -->

	<div class="sidebar-widget outer-bottom-small wow fadeInUp">
		<h3 class="section-title">Special Offer</h3>
		<div class="sidebar-widget-body outer-top-xs">

			<div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
				{% for special in product_hot_deals %}
				<div class="item">
					<div class="products special-product">
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' special.id %}">
													<img style="width: 100px; height: 100px;" src= "media/{{ special.product_1_image }}" alt="">
												</a>					
											</div><!-- /.image -->
																		
												
												
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' special.id %}">{{ special.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">
											<span class="price">{{ special.selling_price }}</span>
											
											</div><!-- /.product-price -->
											
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->				
						</div>
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' special.id %}">
													<img style="width: 100px; height: 100px;" src= "media/{{ special.product_2_image }}" alt="">
												</a>					
											</div><!-- /.image -->
												
												
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' special.id %}">{{ special.title }}</a></h3>
											<div class="rating rateit-small"></div>
												<div class="product-price">	
												<span class="price">{{ special.selling_price }}</span>
											
											</div><!-- /.product-price -->
											
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->				
						</div>
						<div class="product">
							<div class="product-micro">
							<div class="row product-micro-row">
								<div class="col col-xs-5">
									<div class="product-image">
										<div class="image">
											<a href="{% url 'product_detail' special.id %}">
												<img style="width: 100px; height: 100px;" src= "media/{{ special.product_4_image }}" alt="">
							
											</a>					
										</div><!-- /.image -->
											
																	
											
									</div><!-- /.product-image -->
								</div><!-- /.col -->
									<div class="col col-xs-7">
									<div class="product-info">
										<h3 class="name"><a href="{% url 'product_detail' special.id %}">{{ special.title }}</a></h3>
										<div class="rating rateit-small"></div>
										<div class="product-price">	
										<span class="price">{{ special.selling_price }}</span>
										
									</div><!-- /.product-price -->
										
									</div>
								</div><!-- /.col -->
							</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->
				
						</div>
					</div>
				</div>
				{% endfor %}
					
			</div>
		</div><!-- /.sidebar-widget-body -->
	</div><!-- /.sidebar-widget -->
	<!-- ============================================== SPECIAL OFFER : END ============================================== -->
				<!-- ============================================== PRODUCT TAGS ============================================== -->
	<div class="sidebar-widget product-tag wow fadeInUp">
		<h3 class="section-title">Product tags</h3>
		<div class="sidebar-widget-body outer-top-xs">
			<div class="tag-list">					
				<a class="item" title="Phone" href="category_list">Phone</a>
				<a class="item active" title="Vest" href="category.html">Vest</a>
				<a class="item" title="Smartphone" href="category.html">Smartphone</a>
				<a class="item" title="Furniture" href="category.html">Furniture</a>
				<a class="item" title="T-shirt" href="category.html">T-shirt</a>
				<a class="item" title="Sweatpants" href="category.html">Sweatpants</a>
				<a class="item" title="Sneaker" href="category.html">Sneaker</a>
				<a class="item" title="Toys" href="category.html">Toys</a>
				<a class="item" title="Rose" href="category.html">Rose</a>
			</div><!-- /.tag-list -->
		</div><!-- /.sidebar-widget-body -->
	</div><!-- /.sidebar-widget -->
	<!-- ============================================== PRODUCT TAGS : END ============================================== -->
				<!-- ============================================== SPECIAL DEALS ============================================== -->

	<div class="sidebar-widget outer-bottom-small wow fadeInUp">
		<h3 class="section-title">Special Deals</h3>
		<div class="sidebar-widget-body outer-top-xs">
			<div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
				{% for special_deals in product_hot_deals %}
				<div class="item">
					<div class="products special-product">
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="#">
													<img style="width: 100px; height: 100px;" src= "media/{{ special_deals.product_1_image }}" alt="">
												</a>					
											</div><!-- /.image -->
														
												
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="#">{{ special_deals.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">	
											<span class="price">{{ special_deals.selling_price }}</span>
											
										</div><!-- /.product-price -->
											
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->
					
						</div>
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' special_deals.id %}">
													<img style="width: 100px; height: 100px;" src= "media/{{ special_deals.product_2_image }}" alt="">
												</a>					
											</div><!-- /.image -->
														
												
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' special_deals.id %}">{{ special_deals.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">	
											<span class="price">{{ special_deals.selling_price }}</span>
											
										</div><!-- /.product-price -->
											
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->
					
						</div>
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' special_deals.id %}">
													<img style="width: 100px; height: 100px;" src= "media/{{ special_deals.product_4_image }}" alt="">
												</a>					
											</div><!-- /.image -->
														
												
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' special_deals.id %}">{{ special_deals.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">	
											<span class="price">{{ special_deals.selling_price }}</span>
											
										</div><!-- /.product-price -->
											
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->
					
						</div>
					</div>
				</div>
				{% endfor %}	
			</div>
		</div><!-- /.sidebar-widget-body -->
	</div><!-- /.sidebar-widget -->
	<!-- ============================================== SPECIAL DEALS : END ============================================== -->
				<!-- ============================================== NEWSLETTER ============================================== -->
	<div class="sidebar-widget newsletter wow fadeInUp outer-bottom-small">
		<h3 class="section-title">Newsletters</h3>
		<div class="sidebar-widget-body outer-top-xs">
			<p>Sign Up for Our Newsletter!</p>
			<form role="form">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Subscribe to our newsletter">
				</div>
				<button class="btn btn-primary">Subscribe</button>
			</form>
		</div><!-- /.sidebar-widget-body -->
	</div><!-- /.sidebar-widget -->
	<!-- ============================================== NEWSLETTER: END ============================================== -->
			
				<!-- ============================================== Testimonials============================================== -->
	<div class="sidebar-widget  wow fadeInUp outer-top-vs ">
		<div id="advertisement" class="advertisement">
			<div class="item">
				<div class="avatar"><img src= {% static "assets/images/testimonials/member1.png" %} alt="Image"></div>
			<div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
			<div class="clients_author">John Doe	<span>Abc Company</span>	</div><!-- /.container-fluid -->
			</div><!-- /.item -->

			<div class="item">
				<div class="avatar"><img src= {% static "assets/images/testimonials/member3.png" %} alt="Image"></div>
			<div class="testimonials"><em>"</em>Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
			<div class="clients_author">Stephen Doe	<span>Xperia Designs</span>	</div>    
			</div><!-- /.item -->

			<div class="item">
				<div class="avatar"><img src= {% static "assets/images/testimonials/member2.png" %} alt="Image"></div>
			<div class="testimonials"><em>"</em> Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer.<em>"</em></div>
			<div class="clients_author">Saraha Smith	<span>Datsun &amp; Co</span>	</div><!-- /.container-fluid -->
			</div><!-- /.item -->

		</div><!-- /.owl-carousel -->
	</div>
		
	<!-- ============================================== Testimonials: END ============================================== -->

	</div><!-- /.sidemenu-holder -->
			<!-- ============================================== SIDEBAR : END ============================================== -->

			<!-- ============================================== CONTENT ============================================== -->
	<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
				<!-- ========================================== SECTION – HERO ========================================= -->
				
	<div id="hero">
		<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
			{% for data in images_data %} 
			<div class="item" style="background-image: url('/media/{{ data.slider }}');">
				<div class="container-fluid">
					<div class="caption bg-color vertical-center text-left">
						<div class="slider-header fadeInDown-1">{{ data.top_brand }}</div>
						<div class="big-text fadeInDown-1">
							{{ data.new_collection }}
						</div>

						<div class="excerpt fadeInDown-2 hidden-xs">
						
						<span>{{ data.description }}</span>

						</div>
						<div class="button-holder fadeInDown-3">
							<a href="#" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a>
						</div><br>
					</div><!-- /.caption -->
				</div><!-- /.container-fluid -->
			</div><!-- /.item -->
			{% endfor %}

		</div><!-- /.owl-carousel -->
	</div>
				
	<!-- ========================================= SECTION – HERO : END ========================================= -->	

				<!-- ============================================== INFO BOXES ============================================== -->
	<div class="info-boxes wow fadeInUp">
		<div class="info-boxes-inner">
			<div class="row">
				<div class="col-md-6 col-sm-4 col-lg-4">
					<div class="info-box">
						<div class="row">
							
							<div class="col-xs-12">
								<h4 class="info-box-heading green">money back</h4>
							</div>
						</div>	
						<h6 class="text">30 Days Money Back Guarantee</h6>
					</div>
				</div><!-- .col -->

				<div class="hidden-md col-sm-4 col-lg-4">
					<div class="info-box">
						<div class="row">
							
							<div class="col-xs-12">
								<h4 class="info-box-heading green">free shipping</h4>
							</div>
						</div>
						<h6 class="text">Shipping on orders over $99</h6>	
					</div>
				</div><!-- .col -->

				<div class="col-md-6 col-sm-4 col-lg-4">
					<div class="info-box">
						<div class="row">
							
							<div class="col-xs-12">
								<h4 class="info-box-heading green">Special Sale</h4>
							</div>
						</div>
						<h6 class="text">Extra $5 off on all items </h6>	
					</div>
				</div><!-- .col -->
			</div><!-- /.row -->
		</div><!-- /.info-boxes-inner -->
		
	</div><!-- /.info-boxes -->
	<!-- ============================================== INFO BOXES : END ============================================== -->
				<!-- ============================================== SCROLL TABS ============================================== -->
	<div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
		<div class="more-info-tab clearfix ">
			<h3 class="new-product-title pull-left">New Products</h3>
			<ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
				<li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
				<li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Clothing</a></li>
				<li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Electronics</a></li>
				<li><a data-transition-type="backSlide" href="#apple" data-toggle="tab">Shoes</a></li>
			</ul><!-- /.nav-tabs -->
		</div>

		<div class="tab-content outer-top-xs">
			<div class="tab-pane in active" id="all">			
				<div class="product-slider">
					<div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
						{% for new_data in product_data %}
						
						<div class="item item-carousel">
							<div class="products">					
								<div class="product">		
									<div class="product-image">
										<div class="image">
											<a href="{% url 'product_detail' new_data.id %}"><img style="width: 200px; height: 250px;" src= "media/{{ new_data.product_1_image }}" alt=""></a>
										</div><!-- /.image -->			

										<div class="tag {{ new_data.tag }}"><span>{{ new_data.tag }}</span></div>                        		   
									</div><!-- /.product-image -->	
									<div class="product-info text-left">
										<h3 class="name"><a href="{% url 'product_detail' new_data.id %}">{{ new_data.title }}</a></h3>
										<div class="rating rateit-small"></div>
										<div class="description"></div>

										<div class="product-price">	
											<span class="price">$ {{ new_data.selling_price }}</span>
											<span class="price-before-discount">$ {{ new_data.discount_price }} %</span>
																
										</div><!-- /.product-price -->
										
									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group">
													<button data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart">
														<i class="fa fa-shopping-cart"></i>													
													</button>
													<button class="btn btn-primary cart-btn" type="button">Add to cart</button>
																			
												</li>
											
												<li class="lnk wishlist">
													<a data-toggle="tooltip" class="add-to-cart" href="{% url 'wishlist' new_data.id %}" title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>

												<li class="lnk">
													<a data-toggle="tooltip" class="add-to-cart" href="{% url 'comparison' new_data.id %}" title="Compare">
														<i class="fa fa-signal" aria-hidden="true"></i>
													</a>
												</li>
											</ul>
										</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->
							</div><!-- /.products -->
						</div><!-- /.item -->
						{% endfor %}
					</div><!-- /.home-owl-carousel -->
				</div><!-- /.product-slider -->
			</div><!-- /.tab-pane -->
		</div><!-- /.tab-content -->
	</div><!-- /.scroll-tabs -->
	<!-- ============================================== SCROLL TABS : END ============================================== -->
				<!-- ============================================== WIDE PRODUCTS ============================================== -->
	<div class="wide-banners wow fadeInUp outer-bottom-xs">
		<div class="row">
			<div class="col-md-7 col-sm-7">
				<div class="wide-banner cnt-strip">
					<div class="image">
						<img class="img-responsive" style="width: 860px; height: 250px;" src= {% static "assets/images/banners/12.png" %} alt="">
					</div>

				</div><!-- /.wide-banner -->
			</div><!-- /.col -->
			<div class="col-md-5 col-sm-5">
				<div class="wide-banner cnt-strip">
					<div class="image">
						<img class="img-responsive" style="width: 853px; height: 250px;"  src= "{% static 'assets/images/banners/6.png' %}"  alt="">
					</div>

				</div><!-- /.wide-banner -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.wide-banners -->

	<!-- ============================================== WIDE PRODUCTS : END ============================================== -->
				<!-- ============================================== FEATURED PRODUCTS ============================================== -->
	<section class="section featured-product wow fadeInUp">
		<h3 class="section-title">Featured products</h3>
		<div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
			{% for featred in product_hot_deals %}	
			<div class="item item-carousel">
				
				<div class="products">
					
				<div class="product">		
					<div class="product-image">
						<div class="image">
							<a href="{% url 'product_detail' featred.id %}"><img style="width: 200px; height: 250px;" src= "media/{{ featred.product_1_image }}" alt=""></a>
						</div><!-- /.image -->			

							<div class="tag {{ featred.tag }}"><span>{{ featred.tag }}</span></div>		   
					</div><!-- /.product-image -->
					
				
					<div class="product-info text-left">
						<h3 class="name"><a href="{% url 'product_detail' featred.id %}">{{ featred.title }}</a></h3>
						<div class="rating rateit-small"></div>
						<div class="description"></div>

						<div class="product-price">	
							<span class="price">{{ featred.selling_price }}</span>
							<span class="price-before-discount">{{ featred.discount_price }}</span>		
						</div><!-- /.product-price -->
					
					</div><!-- /.product-info -->
						<div class="cart clearfix animate-effect">
						<div class="action">
							<ul class="list-unstyled">
								<li class="add-cart-button btn-group">
									<button class="btn btn-primary icon" data-toggle="dropdown" type="button">
										<i class="fa fa-shopping-cart"></i>													
									</button>
									<button class="btn btn-primary cart-btn" type="button">Add to cart</button>
															
								</li>
							
								<li class="lnk wishlist">
									<a class="add-to-cart" href="{% url 'wishlist' featred.id %}" title="Wishlist">
										<i class="icon fa fa-heart"></i>
									</a>
								</li>

								<li class="lnk">
									<a class="add-to-cart" href="{% url 'comparison' featred.id %}" title="Compare">
										<i class="fa fa-signal" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div><!-- /.action -->
						</div><!-- /.cart -->
					</div><!-- /.product -->
					
				</div><!-- /.products -->
				
			</div><!-- /.item -->
			{% endfor %}
			
		</div><!-- /.home-owl-carousel -->
	</section><!-- /.section -->
	<!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
				<!-- ============================================== WIDE PRODUCTS ============================================== -->
	<div class="wide-banners wow fadeInUp outer-bottom-xs">
		<div class="row">

			<div class="col-md-12">
				{% for midel_banner in midel_image %}
				<div class="wide-banner cnt-strip">
					<div class="image">
						<img class="img-responsive" style="width: 850px; height: 300px;" src= "media/{{ midel_banner.image }}" alt="">
					</div>	
					<div class="strip strip-text">
						<div class="strip-inner">
							<h2 class="text-right">{{ midel_banner.new_fashion }}<br>
							<span class="shopping-needs">{{ midel_banner.description_40 }}</span></h2>
						</div>	
					</div>
					<div class="new-label">
						<div class="text">{{ midel_banner.new }}</div>
					</div><!-- /.new-label -->
				</div><!-- /.wide-banner -->
				{% endfor %}
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.wide-banners -->
	<!-- ============================================== WIDE PRODUCTS : END ============================================== -->
	<!-- ============================================== BEST SELLER ============================================== -->
	<div class="best-deal wow fadeInUp outer-bottom-xs">
		<h3 class="section-title">Best seller</h3>
		<div class="sidebar-widget-body outer-top-xs">
			<div class="owl-carousel best-seller custom-carousel owl-theme outer-top-xs">
				{% for best_seler in product_data %}
				<div class="item">
					<div class="products best-product">
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' best_seler.id %}">
													<img class="img-responsive" style="width: 120px; height: 120px;" src= "media/{{ best_seler.product_1_image }}" alt="">
												</a>					
											</div><!-- /.image -->		
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col2 col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' best_seler.id %}">{{ best_seler.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">	
											<span class="price">{{ best_seler.selling_price }}</span>
											
										</div><!-- /.product-price -->							
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->					  
						</div>
						<div class="product">
							<div class="product-micro">
								<div class="row product-micro-row">
									<div class="col col-xs-5">
										<div class="product-image">
											<div class="image">
												<a href="{% url 'product_detail' best_seler.id %}">
													<img class="img-responsive" style="width: 120px; height: 120px;" src= "media/{{ best_seler.product_2_image }}" alt="">
												</a>					
											</div><!-- /.image -->					
										</div><!-- /.product-image -->
									</div><!-- /.col -->
									<div class="col2 col-xs-7">
										<div class="product-info">
											<h3 class="name"><a href="{% url 'product_detail' best_seler.id %}">{{ best_seler.title }}</a></h3>
											<div class="rating rateit-small"></div>
											<div class="product-price">	
											<span class="price">{{ best_seler.selling_price }}</span>
											</div><!-- /.product-price -->							
										</div>
									</div><!-- /.col -->
								</div><!-- /.product-micro-row -->
							</div><!-- /.product-micro -->
								
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div><!-- /.sidebar-widget-body -->
	</div><!-- /.sidebar-widget -->

	<!-- ============================================== BEST SELLER : END ============================================== -->	

	<!-- ============================================== BLOG SLIDER ============================================== -->
	<section class="section latest-blog outer-bottom-vs wow fadeInUp">
		<h3 class="section-title">latest form blog</h3>
		<div class="blog-slider-container outer-top-xs">
			<div class="owl-carousel blog-slider custom-carousel">
														
					<div class="item">
						<div class="blog-post">
							<div class="blog-post-image">
								<div class="image">
									<a href="blog.html"><img src= {% static "assets/images/blog-post/post1.jpg" %} alt=""></a>
								</div>
							</div><!-- /.blog-post-image -->
						
						
							<div class="blog-post-info text-left">
								<h3 class="name"><a href="#">Voluptatem accusantium doloremque laudantium</a></h3>	
								<span class="info">By Jone Doe &nbsp;|&nbsp; 21 March 2016 </span>
								<p class="text">Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
								<a href="#" class="lnk btn btn-primary">Read more</a>
							</div><!-- /.blog-post-info -->
							
							
						</div><!-- /.blog-post -->
					</div><!-- /.item -->
				
													
					<div class="item">
						<div class="blog-post">
							<div class="blog-post-image">
								<div class="image">
									<a href="blog.html"><img src= {% static "assets/images/blog-post/post2.jpg" %} alt=""></a>
								</div>
							</div><!-- /.blog-post-image -->
						
						
							<div class="blog-post-info text-left">
								<h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>	
								<span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
								<p class="text">Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
								<a href="#" class="lnk btn btn-primary">Read more</a>
							</div><!-- /.blog-post-info -->
							
							
						</div><!-- /.blog-post -->
					</div><!-- /.item -->
				
													
					<!-- /.item -->
				
													
					<div class="item">
						<div class="blog-post">
							<div class="blog-post-image">
								<div class="image">
									<a href="blog.html"><img src= {% static "assets/images/blog-post/post1.jpg" %} alt=""></a>
								</div>
							</div><!-- /.blog-post-image -->
						
						
							<div class="blog-post-info text-left">
								<h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>	
								<span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
								<a href="#" class="lnk btn btn-primary">Read more</a>
							</div><!-- /.blog-post-info -->
							
							
						</div><!-- /.blog-post -->
					</div><!-- /.item -->
				
													
					<div class="item">
						<div class="blog-post">
							<div class="blog-post-image">
								<div class="image">
									<a href="blog.html"><img src= {% static "assets/images/blog-post/post2.jpg" %} alt=""></a>
								</div>
							</div><!-- /.blog-post-image -->
						
						
							<div class="blog-post-info text-left">
							<h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>	
								<span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
								<a href="#" class="lnk btn btn-primary">Read more</a>
							</div><!-- /.blog-post-info -->
							
							
						</div><!-- /.blog-post -->
					</div><!-- /.item -->
				
													
					<div class="item">
						<div class="blog-post">
							<div class="blog-post-image">
								<div class="image">
									<a href="blog.html"><img src= {% static "assets/images/blog-post/post1.jpg" %} alt=""></a>
								</div>
							</div><!-- /.blog-post-image -->
						
						
							<div class="blog-post-info text-left">
								<h3 class="name"><a href="#">Dolorem eum fugiat quo voluptas nulla pariatur</a></h3>	
								<span class="info">By Saraha Smith &nbsp;|&nbsp; 21 March 2016 </span>
								<p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
								<a href="#" class="lnk btn btn-primary">Read more</a>
							</div><!-- /.blog-post-info -->
							
							
						</div><!-- /.blog-post -->
					</div><!-- /.item -->
				
							
			</div><!-- /.owl-carousel -->
		</div><!-- /.blog-slider-container -->
	</section><!-- /.section -->
	<!-- ============================================== BLOG SLIDER : END ============================================== -->	

				<!-- ============================================== FEATURED PRODUCTS ============================================== -->
	<section class="section wow fadeInUp new-arriavls">
		<h3 class="section-title">New Arrivals</h3>
		<div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
			{% for new_arrival in product_data %}	
			<div class="item item-carousel">
				<div class="products">
					
					<div class="product">		
						<div class="product-image">
							<div class="image">
								<a href="{% url 'product_detail' new_arrival.id %}"><img class="img-responsive" style="width: 200px; height: 200px;" src= "media/{{ new_arrival.product_2_image }}" alt=""></a>
							</div><!-- /.image -->			

							<div class="tag {{ new_arrival.tag }}"><span>{{ new_arrival.tag }}</span></div>                        		   
						</div><!-- /.product-image -->
						
					
						<div class="product-info text-left">
							<h3 class="name"><a href="{% url 'product_detail' new_arrival.id %}">{{ new_arrival.title }}</a></h3>
							<div class="rating rateit-small"></div>
							<div class="description"></div>

							<div class="product-price">	
								<span class="price">{{ new_arrival.seleling_price }}</span>
									<span class="price-before-discount">{{ new_arrival.discount_price }}</span>
													
							</div><!-- /.product-price -->
							
						</div><!-- /.product-info -->
						<div class="cart clearfix animate-effect">
							<div class="action">
								<ul class="list-unstyled">
									<li class="add-cart-button btn-group">
										<button class="btn btn-primary icon" data-toggle="dropdown" type="button">
											<i class="fa fa-shopping-cart"></i>													
										</button>
										<button class="btn btn-primary cart-btn" type="button">Add to cart</button>
																
									</li>
								
									<li class="lnk wishlist">
										<a class="add-to-cart" href="{% url 'wishlist' new_arrival.id %}" title="Wishlist">
											<i class="icon fa fa-heart"></i>
										</a>
									</li>

									<li class="lnk">
										<a class="add-to-cart" href="{% url 'comparison' new_arrival.id %}" title="Compare">
											<i class="fa fa-signal" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div><!-- /.action -->
						</div><!-- /.cart -->
					</div><!-- /.product -->
		
				</div><!-- /.products -->
			</div><!-- /.item -->
			{% endfor %}
			
		</div><!-- /.home-owl-carousel -->
	</section><!-- /.section -->
	<!-- ============================================== FEATURED PRODUCTS : END ============================================== -->

	</div><!-- /.homebanner-holder -->
	<!-- ============================================== CONTENT : END ============================================== -->
	</div><!-- /.row -->

		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
		<div id="brands-carousel" class="logo-slider wow fadeInUp">
			<div class="logo-slider-inner">	
				<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
					<div class="item m-t-15">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand1.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item m-t-10">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand2.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand3.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand4.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand5.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand6.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand2.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand4.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand1.png"  %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo= {% static "assets/images/brands/brand5.png" %} src= {% static "assets/images/blank.gif" %} alt="">
						</a>	
					</div><!--/.item-->
				</div><!-- /.owl-carousel #logo-slider -->
			</div><!-- /.logo-slider-inner -->
		</div><!-- /.logo-slider -->
		<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
	
	</div><!-- /.container -->
</div>
<!-- /#top-banner-and-menu -->

{% endblock content %} 